
#weather-container{
  margin: 5%;
  width: auto;
  height: 100%;
  background-color: #edf0f2;
  background-image: url(../img/atlanta.jpg);
  background-size: cover;
}

#weather-report{
  margin-left: 2%;
  margin-right: 2%;
  padding: 10%;
  width: auto;
  height: auto;
  border-style: solid;
  border-width: thin;
  border-color: #e4e7eb;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /*background-image: linear-gradient(#4a9ef7, #058399);*/
  background: rgba(0, 0, 0, 0.6);
}

p{
  margin-top: 3%;
  text-align: left;
  font-size: 32px;
  font-weight: normal;
  color: #edf0f2;
  font-family: 'Encode Sans Condensed';font-size: 32px;
}

h1 {
  width: 100%;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: black;
}

.answers{
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Encode Sans Condensed';font-size: 32px;
}

.title{
  color: #2d2e2e;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: 'Encode Sans Condensed';font-size: 32px;
}
